# Python
**/.venv/
__pycache__/
*.pyc

# Node
node_modules/

# Expo
.expo/
dist/
web-build/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Env
.env
.env*.local

# TFDA
backend/tfda_data/20_5.json
